.active-scroll {
  text-align: center;
  /* padding: 12px;
  color: rgb(163, 161, 161);
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem; */
}

.active-scroll:hover {
  color: #b10000;
}

.active-scroll:active {
  color: #b10000;
}
